[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=wmx
Exec=/usr/local/bin/wmx
NoDisplay=true
X-GNOME-WMName=wmx
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
